<h1 align="center"> Intro to Python Part 1 </h1>

## Why Python

Python is Open Source (Free). Lots of people from around the world are continually improving python. Used worldwide at top tier companies (youtube, google, yelp, etc)

### Install Python (Anaconda)
If you don't have python installed, please see the blog post or youtube video for your operating system (Mac, Windows Ubuntu)

Operating System | Blog Post | Youtube Video
--- | --- | ---
Mac | [Install Anaconda on Mac](https://medium.com/@GalarnykMichael/install-python-on-mac-anaconda-ccd9f2014072#.lvhw2gt3k "Install Anaconda on Mac") | [Youtube Video](https://www.youtube.com/watch?v=B6d5LrA8bNE "Youtube Video")
Ubuntu | [Install Anaconda on Ubuntu](https://medium.com/@GalarnykMichael/install-python-on-ubuntu-anaconda-65623042cb5a#.4kwsp0wjl "Install Anaconda on Ubuntu") | [Youtube Video](https://www.youtube.com/watch?v=jo4RMiM-ihs "Youtube Video")
Windows | [Install Anaconda on Windows](https://medium.com/@GalarnykMichael/install-python-on-windows-anaconda-c63c7c3d1444#.66f7y3whf "Install Anaconda on Windows") | [Youtube Video](https://www.youtube.com/watch?v=KH2yIk03jFc&t=1s "Youtube Video")

### Hello World!

In [3]:
!python --version

Python 2.7.13 :: Continuum Analytics, Inc.

In [1]:
# Python 2
print 'Hello World'

Hello World

In [2]:
print('Hello World')

Hello World

### Basic Types

The main basic data types in python are numbers (ints and floats) boolean and strings.

In [26]:
print type(123),type(123.0),type('123'),type(True)

<type 'int'> <type 'float'> <type 'str'> <type 'bool'>

### Basic Math

### Variables

In [12]:
variable = 10

In [13]:
my_int = 7
my_float = 1.23
my_bool = True 
my_string = 'Cats'

In [14]:
print(my_int)
print(variable)
print(my_float)
print(my_bool)
print(my_string)

7
10
1.23
True
Cats

### Basic Math

In [15]:
# Addition
1+1

2

In [ ]:
123+2

In [5]:
123-2.0  # if one of the operands is a float, the result is a float.

121.0

In [ ]:
123/2    # integer division

In [6]:
# the output from the last line in a cell is printed automatically
130.0/2
123/2.0  # floating point division

61.5

In [7]:
# In order to print a result that is not in the last line use "print"
print 130.0/2
123/2.0  # floating point division

65.0

61.5

In [10]:
#Ending a print command with a comma supresses the carriage-return
print 1

1

### Python 2 vs Python 3 (float addition)

In [16]:
1+1.0

2.0

In [17]:
3/2

1

In [18]:
2*3

6

In [19]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [20]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
3%2

1

In [11]:
# You can even "add strings together" # Summing of strings means concatanation  
x = '123'+'0'
x

'1230'

### Comments

In [22]:
# This is a comment

In [24]:
# Adding an int with a float
2 + 4.0

6.0

In [25]:
"""
This is a large comment
Multiple lines of comments
I can keep commenting forever
BLAH BLAH BLAH!
"""

'\nThis is a large comment\nMultiple lines of comments\nI can keep commenting forever\nBLAH BLAH BLAH!\n'

### String Manipulations

In [12]:
my_string = 'Subscribe to my Channel'

In [13]:
print(my_string)

Subscribe to my Channel

In [14]:
print(my_string.lower())
print(my_string.upper())
print(my_string.title())

subscribe to my channel
SUBSCRIBE TO MY CHANNEL
Subscribe To My Channel

In [15]:
my_string.split(' ')

['Subscribe', 'to', 'my', 'Channel']

In [16]:
a=my_string.split(' ')
a

['Subscribe', 'to', 'my', 'Channel']

In [17]:
' '.join(a)

'Subscribe to my Channel'

In [22]:
large_string = """this string is 
a whole paragraph, ' and " can be used freely
and can span lines without using \\
"""

print(large_string)

this string is
a whole paragraph, ' and " can be used freely
and can span lines without using \

### For Loops

In [39]:
a = ['I', 'love', 'cats']

for i in a:
    print(i)

I
love
cats

In [40]:
for number in [1,2,3,4,5,6]:
    print(1 + number)

2
3
4
5
6
7

### If - Else

In [41]:
print(1 == 2)
print(1 == 1 )

False
True

In [42]:
print(2 < 3)
print(3 > 2)
print(2 != 1)

True
True
True

In [43]:
#bool = True
#bool = False
bool = 2 > 3

if bool:
    print('This is true')
else:
    print('This is false')

This is false

### While Loop

In [44]:
i = 0

while i<3:
    i = i + 1
    print(i)

1
2
3

### COMBINE!

In [46]:
for i in [1,2,3,4,5]:
    if i<3:
        print(i, 'is small')
    else:
        print(i, 'is large')

(1, 'is small')
(2, 'is small')
(3, 'is large')
(4, 'is large')
(5, 'is large')

In [47]:
for i in [1,2,3,4,5]:
    if i==3:
        pass
    else:
        print(i)

1
2
4
5

In [48]:
for i in [1,2,3,4,5]:
    if i==3:
        break
    else:
        print(i)

1
2

In [49]:
for i in [1,2,3,4,5]:
    if i==3:
        continue
    else:
        print(i)

1
2
4
5

In [50]:
if True:
    print('cat')

cat

This code demonstrates how to view time series data with pandas and various methods of sampling, smoothing (rolling mean), and applying linear regression to the data. 

**if this tutorial doesn't cover what you are looking for, please leave a comment on the youtube video and I will try to cover what you are interested in.**

https://www.youtube.com/watch?v=OwnaUVt6VVE

<h1 align="center"> Python 2 vs Python 3 </h1>

In [ ]:
Some Python 3 Improvements
strings are Unicode by default
clean Unicode/bytes separation
exception chaining
function annotations
syntax for keyword-only arguments
extended tuple unpacking
non-local variable declarations

http://sebastianraschka.com/Articles/2014_python_2_3_key_diff.html#the-future-module
print function.Â 
division
xrange vs range.

<h3 align='Left'> Importing Libraries</h3>

In [161]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
%matplotlib inline

<h3 align='Left'> Getting Data and Viewing with Pandas </h3>